/* Todo el cuerpo */
body {
    font-family: Arial, Helvetica, sans-serif;
}

iframe {
    display:block;
    height: 300px;
    width: 95%;
    margin: 0 auto;
}

/* Dimensionamiento sección izquierda */
.seccion-izq {
    width: 35%;
}

/* Dimensionamiento sección derecha */
.seccion-dr {
    width: 65%;
    height: 25%;
    float: right;
}

/* Color de fondo de las secciones */
.seccion-dr, .seccion-izq {
    background-color: #f1f1f1;
}

/* Menú vertical */
.vertical-menu a, section {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

#titulo-menu-ciudades, #titulo-pagina, .titulo-wiki {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-weight: bold;
}

/* Artículo */
#articulo {
    padding: 20px;
}

/* Reloj *//*
#canvas {
    width: 250px;
    height: 250px;
    background-color: #333;
}*/

/* Pie de página */
footer {
    position: relative;
    /* Altura total del footer en px con valor negativo */
    margin-top: -50px;
    /* Altura del footer en px. Se han restado los 5px del margen
       superior mas los 5px del margen inferior
    */
    height: 40px;
    padding: 5px 0px;
    clear: both;
    background: #4CAF50;
    text-align: center;
    color: #fff;
}
 
/* Esta clase define la anchura del contenido y la posicion centrada 
   El contenido queda centrado y limitado, pero la cabecera y el pie
   llegan hasta los limites del navegador.
*/
.pie_de_pagina {
    width: 960px;
    margin: 0 auto;
}